.dashboard{
    display:flex;
    min-height:100vh;
    background:#F8FAFC;
}

/* Sidebar */

.dashboard-sidebar{
    width:320px;
    background:#fff;
    border-right:1px solid #E5E7EB;
    overflow-y:auto;
}

/* Main */

.dashboard-main{
    flex:1;
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

/* Content */

.dashboard-content{
    flex:1;
    padding:28px;
    background:#F8FAFC;
}
.dashboard-header{
    position:sticky;
    top:0;
    z-index:999;
    background:#fff;
}